.input-wrapper {
  display: flex;
  align-items: center;
  border: 2px solid #0957D0;
  border-radius: 10px;
  padding: 10px 8px;
  transition: background-color 0.2s ease-in-out;
}

.input-wrapper input {
  padding: 8px 0;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  flex-grow: 1;
  margin: 0 10px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: right;
}

.input-wrapper input:focus {
  background-color: #E6EAFF;
}
